*{
    margin:0px;
}

body{
    background-color: rgb(255, 255, 255);
    height: 100%;
}

#navigation-container{
    height: 150px;
    background-color: rgb(0, 0, 0);
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}


.nav-item{
    font-size: 45px;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.nav-item:hover{
    color: red;
    cursor: pointer;
    transform: rotate(7deg);
}

#base-container{
    height:600px;
    position: relative;
    background-image: linear-gradient(to bottom, rgb(14,7,5), rgb(19 4 2),rgb(119, 77, 18));  
}


.circle{
    height: 500px;
    width: 900px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    top:60px;
    left: 240px;
    border:5px solid rgb(109 60 0);
    box-shadow: 15px 14px 3px #000000, 0 0 2px #f30d3f;
    background-repeat: no-repeat;
    background-size: contain;
}
.circle:hover {
    animation: animate-circle 1s linear infinite alternate;
}

@keyframes animate-circle {
    0%{transform: rotate(0deg);
    }
    100%{transform: rotate(-3deg);}
}
@keyframes animate-circle-enter {
    0%{opacity: 0;
    }
    100%{opacity: 1;}
}

.slanted-building{
    border-radius: 10px;
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(15,6,4,1),rgba(166,107,37,1));
    z-index: 1;
}

#building1{
    border:2px solid rgb(218,149,51);
    height: 410px;
    width: 180px;
    transform: rotate(-5deg);
    left: 10px;
    animation: animate-building 2s linear infinite alternate;

}
#building2{
    border:2px solid white;
    height: 600px;
    width: 350px;
    transform: rotate(5deg);
    left: 780px;
    animation: animate-building 6s linear infinite alternate;
}
@keyframes animate-building {
    0% {
        top:50px;
    }
    100%{
        top:0px;
    }
}

.baterang{
    position: absolute;
    background-image: url('./images/batrang.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.baterang:hover{
    cursor: pointer;
    /* opacity: 0; */

    display: none;
}


#batrang1{
    height: 80px;
    width: 40px;
    left: 30px;
    filter: drop-shadow(0px 0px 12px rgb(219, 220, 224));
    animation: animate-batrang 6.5s linear infinite;
}
#batrang2{
    height: 50px;
    top: 10px;
    width: 30px;
    left: 20px;
    filter: drop-shadow(0px 0px 12px rgb(255, 0, 0));
    animation: animate-batrang 5s linear infinite;
}
#batrang3{
    height: 60px;
    top: -60px;
    width: 40px;
    left: 60px;
    filter: drop-shadow(0px 0px 12px rgb(190, 142, 10));
    animation: animate-batrang 10s linear infinite;
}
#batrang4{
    height: 60px;
    top: -20px;
    width: 23px;
    left: 10px;
    filter: drop-shadow(0px 0px 12px #2cb5eb);
    animation: animate-batrang 8s linear infinite;
}

@keyframes animate-batrang {
    0% {
    transform: translate(-200px,100px) rotate(5deg);

    }
    50%{
        transform: translate(200px,100px) rotate(365deg);
    }
    100%{
        
    transform: translate(600px,200px) rotate(730deg);

    }
}


#text-item1{
    position: absolute;
    display: inline-block;
    top: 200px;
    font-size: 250px;
    color: rgb(125 3 3);
    z-index: 2;
    text-align: center;
    width: 100%;
    text-shadow: 18px 10px 5px #000000, 0 0 55px #ffffff;
    font-family: "Broken Cyborg Outline",serif;
    animation : animate-text1 1s cubic-bezier(0.54, 0.48, 0, 0.98);
    /* transform: scale(1,1.5); */
}

#text-item1:hover{
    /* color: rgb(53, 53, 53); */
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-shadow: 15px 14px 3px rgb(173,19,1), 0 0 55px rgb(228,158,62);
}

@keyframes animate-text1 {
    0%{
        transform: translateX(-400px);
        display: none;
    }
    100%{
        transform: translateX(0px);
        display: block;
    }
}

#text-item2{
    position: absolute;
    font-size: 125px;
    color: rgb(228,158,62);
    text-shadow:  0 0 5px rgb(0, 0, 0);;
    z-index: 3;
    text-align: center;
    top: 300px;
    right: 335px;
    animation : animate-text2 1.5s cubic-bezier(0.54, 0.48, 0, 0.98);

    /* transform: scale(1,2); */

}
@keyframes animate-text2 {
    0%{
        color: rgba(228,158,62,0);
        right: 0px;

    }
    100%{
        color: rgba(228,158,62,1);
        display: inline-block;
        right: 335px;
    }
}


#text-item2:hover{
    color: rgb(0, 0, 0);
    text-shadow: 15px 14px 3px rgb(240,171,75), 0 0 55px #ffffff;

}

#batman{
    z-index: 10;
    position: absolute;
    height: 100%;
    left: 500px;
    top:0px;
    animation : animate-batman 1.5s cubic-bezier(0.54, 0.48, 0, 0.98);
}

@keyframes animate-batman{
    0%{
        top:-200px;
        opacity: 0;
    }
    100%{
        top:0px;
        opacity: 1;
        }
}


#batman:hover{
    filter: drop-shadow(10px 10px 10px rgb(182, 176, 175));
    cursor: pointer;
    /* animation: animate-batman-hover 0.8s linear infinite alternate; */
    transition: 0.5s;
    transform: rotate(-3deg);
}

/* @keyframes animate-batman-hover{
    0%{
    transform: rotate(0deg);
    }
    100%{
        transform: rotate(-3deg);
        }
} */





#base2-container{
    background-color:rgb(119, 77, 18);
    height:565px;
    position: relative;
}

#navigation-container{
    height: 150px;
    background-color: rgb(0, 0, 0);
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}
.nav-item{
    font-size: 45px;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.nav-item:hover{
    color: red;
    cursor: pointer;
    transform: rotate(7deg);
}

.info-container{
    border: 5px dotted rgb(0, 0, 0);
    border-radius: 20px;
    padding: 53px;
    width: 570px;
    position: absolute;
    right: 114px;
    top: 93px;
    font-size: 25px;
    background-color: rgba(228,158,62,0.4);
    box-shadow: 5px 5px 20px rgb(14, 14, 14);
    color: rgb(0, 0, 0);
    transform: rotate(-5deg);
    animation : animate-info-container 1.5s cubic-bezier(0.54, 0.48, 0, 0.98);
}
.info-container:hover {
    transition: 1s;
    transform: rotate(5deg);
    background-color: rgba(228,158,62,1);
    cursor: pointer;
}
@keyframes animate-info-container {
    0%{
        top:190px;
        opacity: 0;
    }
    100%{
        top:93px;
        opacity: 1;
    }
}